/*    Body styles */

body {
    background-color: #f5f5f5;
}

.row {
    margin: -30;
}

.container-fluid {
    padding: 0;
}

/*    Navbar styles */

.logo {
    margin: 0px;
    padding: 0px;
    width: 200px;
    max-width: 80%;
    vertical-align: top;
    text-align: left;
    /*background-color: black;
    border-bottom-width:20px;
    border-style: solid;
    border-color: black;*/
}

.navigation-font {
    font-family: "Luckiest Guy", sans-serif;
    font-size:1.25em;
}

.navbar {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
}

.navbar-main>li  {
    width:105x;
    text-align: center;
}

.rainbow-text-red {
    color: #ff0000;
}

.rainbow-text-yellow {
    color: #ffff00;
}

.rainbow-text-green {
    color: #00ff00;
}

.rainbow-text-blue {
    color: #00CED1;
}

.rainbow-text-purple {
    color: #DA70D6;
}

.rainbow-text-black {
    color: #000000;
}

.navbar-inactive {
    background-color: transparent;
}

.navbar-active {
    background-color: #ffffff;
}

.navbar-toggle {
    border: 0;
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle>i {
    color: #ff0000;
    font-size: 2em;

}

.navbar-default .navbar-toggle:hover>i {
    color: #00ff00;

}

.navbar-social-links li a {
    padding: 8px 5px 0px 5px;
}

.navbar-social-links li a i {
    height: 30px;
    width: 30px;
    padding: 8px 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background-color: #000000;
}

/*    Navbar - navbar buttons - specific styling */

#navbar-home {
    color: #ff0000;
}

#navbar-home:hover {
    color: #000000;
    background-color: white;
}

#navbar-home.hvr-rectangle-out:before {
    background-color:#ff0000;
}

#navbar-band {
    color: #ffff00;
}

#navbar-band:hover {
    color: #000000;
}

#navbar-band.hvr-rectangle-out:before {
    background-color:#ffff00;
}

#navbar-music {
    color: #00ff00;
}

#navbar-music:hover {
    color: #000000;
}

#navbar-music.hvr-rectangle-out:before {
    background-color:#00ff00;
}

#navbar-booking {
    color: #00CED1;
}

#navbar-booking:hover {
    color: #000000;
}

#navbar-booking.hvr-rectangle-out:before {
    background-color:#00CED1;
}

#navbar-fans {
    color: #DA70D6;
}

#navbar-fans:hover {
    color: #000000;
}

#navbar-fans.hvr-rectangle-out:before {
    background-color:#DA70D6;
}

/*     Main */

.main {
    /*margin-top:50px;*/
    height: 100vh;
    align-items: center;
}

.backdrop-small {
    width: 100%;
}


/*    Video */

#video-background {
    position: relative;
    right: 0;
    top: 0;
    min-width: 100%;
    max-height: 60%;
    width: auto;
    height: auto;
    z-index: -100;
}

/*    Footer styles */

/*    Media queries */

@media (max-width: 768px) {

    .navbar-default .navbar-nav {
        margin-left: 20px;
        margin-top: 80px;
    }
}

@media (max-width: 480px) {

    .logo {
        max-width: 50%;
    }

    .navbar-default .navbar-nav>li {
        /* color: #777; */
        font-size: 0.75em;
        max-width:60%
        
    }
    
       .navbar-default .navbar-nav  {
        /* color: #777; */
        margin-top:15px;
    } 
}
